@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Merriweather:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

$theme-font: 'Merriweather', serif;
$text-font: 'Open Sans', sans-serif;

$black: #000;
$white: #fff;
$purple: #7456EF;
$purple-darker: rgb(99, 66, 231);
$purple-lighter:  rgb(136, 107, 253);
$pink: #E4CEFF;
$pale: #F8F2FF;
$gray: #CDCAC7;
$orange: #FFC7BB;
$green: #AFDCD1;
$charcoal: #2B2B2B;