<!-- 🛠 product-detail component -->
<div class="container container-detail">
  <h1>Ultra Nordic Sofa</h1>
    {% include "@atoms/color-choice/color-choice.twig" %}
    {% include "@atoms/comfort-lvl/comfort-lvl.twig" %}
    {% include "@molecules/add-to-cart-action/add-to-cart-action.twig" %}
  </div>