@charset "utf-8";

$icon-size-base: 2rem;

.icon {
  display: inline-flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0.11em;
  width: 1.3em;
  height: 1.3em;
  font-size: $icon-size-base;
  color: inherit;

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
    stroke: currentColor;
  }
}

