<!-- 🛠 color-choice component -->

<div class="color-choices">
    <div class="color-pick">
        <button class="btn-color gray"></button>
        <button class="btn-color orange"></button>
        <button class="btn-color green"></button>
        <button class="btn-color charcoal"></button>
    </div>
</div>