@charset 'utf-8';

.color-choices {
  width: 16rem;
}

.btn-color {
  padding: 1.2rem;
  border-radius: 100px;
  border: #fff solid 1px;
  box-shadow: 0 0 0 2px #fff inset;
  margin-right: 20px;
}

.gray {
  background-color: $gray;
  transition: 0.15s ease-in-out;
}

.orange {
  background-color: $orange;
  transition: 0.15s ease-in-out;
}

.green {
  background-color: $green;
  transition: 0.15s ease-in-out;
}

.charcoal {
  background-color: $charcoal;
  transition: 0.15s ease-in-out;
}

.gray:hover {
  border: rgba(155, 155, 155, 0.6) solid 1px;
  box-shadow: 0 0 0 2 #fff inset;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.orange:hover {
  border: rgba(155, 155, 155, 0.6) solid 1px;
  box-shadow: 0 0 0 2 #fff inset;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.green:hover {
  border: rgba(155, 155, 155, 0.6) solid 1px;
  box-shadow: 0 0 0 2 #fff inset;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.charcoal:hover {
  border: rgba(155, 155, 155, 0.6) solid 1px;
  box-shadow: 0 0 0 2 #fff inset;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

*:focus {
  outline: 0 !important;
}
