<!-- 🛠 color-choice component -->

<div class="color-choices">
  <div class>
    <input id="choice-1" checked="checked" name="choice" type="radio"/>
    <label for="choice-1"></label>
  </div>

  <div>
    <input id="choice-2" name="choice" type="radio"/>
    <label for="choice-2"></label>
  </div>

  <div>
    <input id="choice-3" name="choice" type="radio"/>
    <label for="choice-3"></label>
  </div>
</div>