@charset 'utf-8';

.color-choices {
  width: 180px;
}

.color-bullet {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  margin: 0.65rem;
  border-color: transparent;
  transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.color-bullet:hover {
  border-color: transparent;
  opacity: 0.8;
  border: solid $gray;
  transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.color-bullet:active {
  border-color: transparent;
  border: solid $gray;
  transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.color-bullet-gray {
  background-color: $gray;
}
