<!-- 🛠 comfort-lvl component -->
<div class="slider-container comfort-lvl">
  <input type="range" class="range-slider" min="0" max="8" value="2" class="slider-input" id="slider" onchange="setValue()"/>
  <span id="range-value-bar"></span>
  <span id="range-value">0</span>
</div>
<div class="slider-result"><h1 id="result"></h1></div>