@charset 'utf-8';

.btn {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    letter-spacing: 0.24px;
    padding: 1.5rem 3.5rem;
    border-radius: .1rem;
    border: none;
    background-color: $purple;
}

.btn-primary:hover {
    background-color: $purple;
    border: none;
    background-color: $purple-lighter;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: $purple-darker;
    border-color: $purple;
}

.btn:focus {
    outline: #E4CEFF auto 5px;
}

.btn-outline-secondary {
    color: $purple;
    background-color: transparent;
    border-radius: .1rem;
    border: $purple solid;
}
.btn-outline-secondary:hover{
    background-color: $purple;
    border-color: $purple;
    color: white;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active {
    background-color: $purple-darker;
    border-color: $purple;
}