@charset 'utf-8';

.btn {
  padding: 1.5rem 3.5rem;
  border: none;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  letter-spacing: 0.24px;
  border-radius: 0.1rem;
  background-color: $purple;
}

.btn-primary:hover {
  border: none;
  background-color: $purple-lighter;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: $purple-darker;
  border-color: $purple;
}

.btn:focus {
  outline: #e4ceff auto 5px;
}

.btn-outline-secondary {
  border: $green solid;
  color: $green;
  background-color: transparent;
  border-radius: 0.1rem;
}

.btn-outline-secondary:hover {
  background-color: $green;
  border-color: $green;
  color: white;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active {
  background-color: $purple-darker;
  border-color: $green;
}
