<!-- 🛠 gallery component -->
<div class="container container-gallery">
  <div class="item-zoom">
      <img src="/images/canape-style-scandinave-1_@2x.png">
  </div>
  <div class="item-container">
    <div class="item">
      <img src="/images/canape-style-scandinave_2_@2x.png">
    </div>
    <div class="item">
        <img src="/images/canape-style-scandinave-1_@2x.png">
    </div>
    <div class="item">
        <img src="/images/canape-style-scandinave-3_@2x.png">
    </div>
    <div class="item">
        <img src="/images/canape-style-scandinave-4_@2x.png">
    </div>
  </div>
</div>