@charset 'utf-8';

.cta-container {
  display: flex;
  align-items: center;
}

.icon-favorit {
  margin-left: 2.5rem;
}

#heart-icon {
  transition: fill .15s ease-in-out;
}

#heart-icon:hover {
  fill: $purple;
  transition: fill .15s ease-in-out;
}