<!-- 🛠 Add to cart action component -->
<div class="cta-container">
  {% include "@atoms/button/button.twig" %}
  <div class="icon-favorit"> 
    <a href="#"><svg width="34px" height="30px" viewBox="0 0 34 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="heart-icon" stroke="none" stroke-width="2" fill="#ffffff" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
          <g id="Desktop" transform="translate(-1095.000000, -728.000000)" stroke="#7456EF" stroke-width="2">
              <g id="Group-10" transform="translate(844.000000, 55.000000)">
                  <g id="Group-11" transform="translate(0.000000, 656.000000)">
                      <g id="heart" transform="translate(252.000000, 18.000000)">
                          <path d="M29.5325009,2.47540309 C27.9533692,0.890469162 25.8111619,0 23.577408,0 C21.3436542,0 19.2014468,0.890469162 17.6223151,2.47540309 L15.9995906,4.10332563 L14.376866,2.47540309 C11.087959,-0.824039037 5.75558722,-0.824038997 2.46668025,2.47540317 C-0.822226716,5.77484535 -0.822226756,11.124298 2.46668016,14.4237403 L4.08940471,16.0516628 L15.9995906,28 L27.9097764,16.0516628 L29.5325009,14.4237403 C31.1123741,12.8395502 32,10.6904808 32,8.44957168 C32,6.20866253 31.1123741,4.05959318 29.5325009,2.47540309 Z" id="Shape"></path>
                      </g>
                  </g>
              </g>
          </g>
      </g>
    </svg></a>
  </div>
</div>