<!-- 🛠 product-info component -->
<div class="container-info">
  <h1 class="super-title">Ultra Nordic Sofa</h1>
  <h2 class="price-subtitle">$599.90</h2>
  {% include "@atoms/color-choice/color-choice.twig" %}
  <p class="text-description">Add more luminosity to your living room with this <span class="stronger">Ultra Nordic Sofa</span>. 
      Its appearance will softer the look of your living space. Modern 
      and accentuated with simple, but cozy shapes, <span class="stronger">Ultra Nordic Sofa</span> guarantee you the most cocooning evenings ever, just add some more pillows for extra comfort.</p>
</div>